{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div>
        <h3 class="text-dark mb-0">Account Management</h3>
    </div>
    <div style="margin: 30px;"></div>
    <div class="table-responsive bg-white border rounded">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-uppercase bg-light border rounded-0">Username</th>
                    <th class="text-uppercase bg-light border rounded-0">Email</th>
                    <th class="text-uppercase bg-light border rounded-0">Description</th>
                    <th class="text-uppercase bg-light border rounded-0" style="width: 10px;">Staff</th>
                    <th class="text-uppercase bg-light border rounded-0">Permissions</th>
                    <th class="bg-light" style="width: 10px;"><button class="btn btn-success btn-sm" type="button" onclick="$('#modalAddUser').modal();"><i class="fas fa-user-plus"></i></button></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr id="user:{{user.username|escape}}"
                        data-username="{{user.username|escape}}"
                        data-email="{{user.email|escape}}"
                        data-description="{{user.lsocprofile.description|escape}}">
                        <td id="{{user.username|escape}}:permission_data" hidden>{{user.lsocprofile.lsoc_permissions}}</td>
                        <td class="border rounded-0">{{ user.username|escape }}</td>
                        <td class="border rounded-0">{{ user.email|escape }}</td>
                        <td class="border rounded-0">{{ user.lsocprofile.description|escape }}</td>

                        <td class="text-center border rounded-0"><input type="checkbox" disabled="" {% if user.is_staff %}checked{% endif %}></td>

                        <td style="white-space: nowrap; max-width: 100px; overflow: hidden;" class="border rounded-0">{{ user.lsocprofile.lsoc_permissions|escape }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div id="modalAddUser" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a new account</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <form id="form-user-add" class="form-vertical">
                    <div class="row" style="max-width: 400px; min-width: 370px; display: block;">
                        <div class="column" style="margin-left: 50px;">
                            <div class="row" style="margin-bottom: 5px;">
                                {{ form.username }}
                            </div>
                            <div class="row" style="margin-bottom: 5px;">
                                {{ form.email }}
                            </div>
                            <div class="row" style="margin-bottom: 5px;">
                                {{ form.password1 }}
                            </div>
                            <div class="row" style="margin-bottom: 5px;">
                                {{ form.password2 }}
                            </div>
                            <div class="row" style="margin-bottom: 5px;">
                                <div style="width: 73%">
                                    {{ form.lsoc_permissions }}
                                </div>

                                <!-- This button opens a modal that lists nodes and their elements with checkmarks by their side -->
                                <button type="button" class="btn btn-outline-warning" style="display: inline-block;"
                                    data-toggle="modal" data-target="#modalNodeACL">
                                    Node ACL
                                </button>
                            </div>
                            <div class="row" style="margin-bottom: 5px;">{{ form.description }}</div>
                            <button type="submit" hidden/>
                        </div>
                    </div>
                </form>
                <div id="form-errors_register" style="color: red;"></div>
            </div>
            <div class="modal-footer">
                <button id="btn-submit-user" class="btn btn-primary btn-block" type="button">Create</button>
            </div>
        </div>
    </div>
</div>

<script defer src="/static/assets/js/bootstrap-notify.min.js"></script>
<script defer src="/static/assets/js/system-configuration/notification.js"></script>
<script defer src="/static/assets/js/system-configuration/account-management/base.js"></script>

{% endblock %}
