{% extends 'base.html' %}

{% block content %}

{% load static %}

<style>
    ul {
  list-style-type: none;
  margin: 3px;
}

ul.checktree li:before {
  height: 1em;
  width: 12px;
  border-bottom: 1px dashed;
  content: "";
  display: inline-block;
  top: -0.3em;
}

ul.checktree li { border-left: 1px dashed; }

ul.checktree li:last-child:before { border-left: 1px dashed; }

ul.checktree li:last-child { border-left: none; }
</style>

<div class="row">
    <div class="form-group col-md-12">
        <h3>Account Designer</h3>
    </div>
</div>

<hr>


<form action="{% url 'account_management_designer' %}" method="post" class="form-vertical">
    {% csrf_token %}
    <div class="row" style="max-width: 400px; min-width: 370px; display: block;">

        <div class="column" style="margin-left: 50px;">
            <div class="row" style="margin-bottom: 5px;">
                {{ form.username }}
            </div>
            <div class="row" style="margin-bottom: 5px;">
                {{ form.password1 }}
            </div>
            <div class="row" style="margin-bottom: 5px;">
                {{ form.password2 }}
            </div>
            <div class="row" style="margin-bottom: 5px;">
                <div style="display: inline;">{{ form.lsoc_permissions }}</div>

                <!-- This button opens a modal that lists nodes and their elements with checkmarks by their side -->
                <button type="button" class="btn btn-outline-danger" style="display: inline-block; margin-left: 5px;"
                    data-toggle="modal" data-target="#modalCenter" onclick="setCheckboxes();">
                    Node Access
                </button>

                <!-- 
                    When the field already contains some node permissons and the 
                    button is clicked it takes the data from the field and activates those checkmarks 
                -->
                <!-- 
                    When we're done selecting nodes/elements and click save in the modal, the data from 
                    the modal gets processed to node_id and element_ids and gets written to the field 
                -->
            </div>
            <div class="row" style="margin-bottom: 5px;">
                {{ form.description }}

            </div>
            <div class="row" style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
        </div>
    </div>

</form>
{% if form.errors %}
<div style="margin-top: 50px;">
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
</div>
{% endif %}
<hr>


<!-- Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Node Access</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <ul class="checktree">
                    <li>
                        <input id="all_nodes" type="checkbox" /><label for="all_nodes">Nodes</label>
                        <ul>
                            {% for node in node_element_list %}
                            <li>
                                <input id="{{node.identifier}}" type="checkbox" /><label for="{{node.identifier}}">&nbsp{{node.name}}
                                    - ID: {{node.identifier}}</label>
                                <ul>
                                    {% for element in node.elements %}
                                    <li><input id="{{element.node_identifier}}_{{element.address}}" type="checkbox" /><label
                                            for="{{element.node_identifier}}_{{element.address}}">&nbsp{{element.name}}
                                            - {{element.element_type}}({{element.address}})</label></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="setPermissions();" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    var node_elem_list = {}

    var dict = {};

    $(function () {
        $("ul.checktree").checktree();
    });
    
    function setPermissions() {
        var strDict = JSON.stringify(dict)
        if(strDict !== "{}" && strDict !== '"*"')
            document.getElementById("id_lsoc_permissions").value = strDict;
        else if(strDict === '"*"')  
            document.getElementById("id_lsoc_permissions").value = "";
        else
        document.getElementById("id_lsoc_permissions").value = "-";
    }

    function setCheckboxes() {
        $.get("{% url 'get_node_element_list' %}", function(response) {
            node_elem_list = response["data"];
        });

        var permissions = document.getElementById("id_lsoc_permissions").value;

        if(permissions === "" || permissions === "*") {
            if (document.getElementById("all_nodes").checked !== true)
                $("#all_nodes").click();
        } else {
            // convert to dict, loop them and set the checkmarks to checked
            var dict_permissions = JSON.parse(permissions);
            for(node in dict_permissions) {
                console.log(dict_permissions[node]);
            }
        }
    }

    (function ($) {
        $.fn.checktree = function () {
            $(':checkbox').on('click', function (event) {
                
                var ide = event.currentTarget.id.split('0x', 2);
                //console.log(ide)
                if (typeof ide[1] !== 'undefined') {
                    node_identifier = ide[0];
                    element_address = '0x'+ide[1]

                    if (event.currentTarget.checked) {
                        if (node_identifier in dict) {
                            if (!(dict[node_identifier].includes(element_address))) {
                                dict[node_identifier].push(element_address);
                            }
                        } else {
                            dict[node_identifier] = [element_address];
                        }
                    } else {
                        if (node_identifier in dict) {
                            if (dict[node_identifier].includes(element_address)) {
                                var index = dict[node_identifier].indexOf(element_address);
                                dict[node_identifier].splice(index, index + 1);
                            }
                        }
                    }
                } else {
                    var checkbox_id = event.currentTarget.id;

                    if (event.currentTarget.checked) {
                        if (checkbox_id === "all_nodes") {
                            dict = "*";
                        } else {
                            for (node in node_elem_list) {

                                if (checkbox_id === node_elem_list[node].identifier) {
                                    dict[checkbox_id] = [];
                                    for (element in node_elem_list[node].elements) {
                                        if(typeof(dict) === "string") {
                                            dict = {}
                                            dict[checkbox_id] = [];
                                            dict[checkbox_id].push(node_elem_list[node].elements[element].address);
                                        } else {
                                            dict[checkbox_id].push(node_elem_list[node].elements[element].address);
                                        }
                                    }
                                }
                            }
                        }
                    } else {
                        if (checkbox_id === "all_nodes") {
                            dict = {};
                        } else {
                            dict[checkbox_id] = [];
                        }
                    }
                }
                console.log("Dictionary: ");
                console.log(dict);

                event.stopPropagation();
                var clk_checkbox = $(this),
                    chk_state = clk_checkbox.is(':checked'),
                    parent_li = clk_checkbox.closest('li'),
                    parent_uls = parent_li.parents('ul');
                parent_li.find(':checkbox').prop('checked', chk_state);
                parent_uls.each(function () {
                    parent_ul = $(this);
                    parent_state = (parent_ul.find(':checkbox').length == parent_ul.find(':checked').length);
                    parent_ul.siblings(':checkbox').prop('checked', parent_state);
                });
            });
        };
    }(jQuery));
</script>

{% endblock %}