{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Node Control Panel</h3>
    </div>
    <div style="margin: 10px;"/>
    <div class="row">
        <div class="col">
            <div class="table-responsive table-bordered bg-light border-white shadow d-flex">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="table-light text-uppercase text-center" style="max-width: 5px; min-width: 5px"></th>
                            <th class="table-light text-uppercase text-muted">Node Name</th>
                            <th class="table-light text-uppercase text-muted">Identifier</th>
                            <th class="table-light text-uppercase text-muted">Elements</th>
                            <th class="border rounded-0 flex-fill">
                                <button
                                    class="btn btn-outline-primary btn-block btn-sm text-info shadow-sm"
                                    id="refresh_registered_list" type="button">Refresh</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div style="margin: 50px;"/>

<script defer src="/static/assets/js/bootstrap-notify.min.js"></script>
<script defer src="/static/assets/js/system-configuration/notification.js"></script>
<script defer src="/static/assets/js/system-configuration/node-control-panel/base.js"></script>

{% endblock %}
