{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Node Registration</h3>
        <a href="/staff/system_configuration/nodes/registration/mqtt-cert">Download the Node Certificate</a>
    </div>
    <div style="margin: 10px;"/>
    <div class="row">
        <div class="col">
            <div class="table-responsive table-bordered bg-light border-white shadow d-flex">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="table-light text-uppercase">Node Identifier</th>
                            <th class="table-light text-uppercase text-muted">Elements</th>
                            <th class="border rounded-0 flex-fill">
                                <button
                                    class="btn btn-outline-primary btn-block btn-sm text-info shadow-sm"
                                    id="refresh_unregistered_list" type="button">
                                        <i class="fa fa-rotate-left"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script defer src="/static/assets/js/bootstrap-notify.min.js"></script>
<script defer src="/static/assets/js/system-configuration/notification.js"></script>
<script defer src="/static/assets/js/system-configuration/node-registration/base.js"></script>

{% endblock %}
