{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}

{% load static %}

<style>
    /* Remove dotted border around links */
    a {
        outline: 0;
    }

    .background-image {
        background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
        /* background-image: url('{% static "assets/img/ws_Rainy_Day.jpg" %}'); */
        /*background-size: cover;*/
        display: block;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        height: 100vh;
        left: 0;
        position: fixed;
        right: 0;
        z-index: -9999;
    }

    /* Set the bottom border color for nav-bar */
    .nav-tabs {
        border-bottom: 1px solid #0000001a;
    }

    .card-basic-switch {
        width: 100px; 
        height: 100px; 
        margin-right: 10px; 
        margin-top: 5px;
        background-image: url('{% static "assets/img/lightbulb_test1.png" %}');
        background-color: #00000060; 
        border-radius: 5px;
        border-color: #45484d;
        
    }
</style>

<ul class="nav justify-content-center nav-tabs a" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Profile</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <center>
            <img src="{% static 'assets/img/floor_plans/template_floor_plan_1.jpg' %}" style="height: 1000px;">
        </center>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="grid background-image">
        </div>

        <div class="container">
            <div class="row">
                <div class="card-basic-switch"></div>
                <div class="card-basic-switch"></div>
                <div class="card-basic-switch"></div>
            </div>
        </div>

    </div>
</div>

{% endblock %}