{% extends 'auth/login_base.html' %}

{% block content %}

<div class="card mx-auto align-self-center" style="max-width: 250px; min-width: 150px;">
    <div class="card-header text-center" style="font-size: x-large; color:black;">{{ title }}</div>
    <div class="card-body" style="padding: 0;">
        <form action="." method="POST" class="form-horizontal">
            {% csrf_token %}
            <!--<h4>Use a local account to log in.</h4>-->
            <div class="form-group" style="margin-left: 15px; margin-right: 15px;">
                <label for="id_username" class=" control-label"></label>
                {{ form.username }}
            </div>
            <div class="form-group" style="margin-left: 15px; margin-right: 15px;">
                <label for="id_password" class=" control-label"></label>
                {{ form.password }}
            </div>
            <div class="form-group" style="margin-left: 15px; margin-right: 15px;">
                <input type="hidden" name="next" value="/" />
                <input type="submit" value="Log in" class="btn btn-primary btn-block" />
            </div>
            {% if form.errors %}
            <p class="validation-summary-errors" style="color: red">Wrong Username or Password</p>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% load staticfiles %}
<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

{% endblock %}
