<!DOCTYPE html>
<html>
{% load static %}

<head>
	<title>LSOC - {{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<!-- jQuery CDN - Slim version (=without AJAX) -->
	<script src="{% static 'assets/js/jquery-3.3.1.slim.min.js' %}"></script>
	<!-- Popper.JS -->
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
	<!-- Bootstrap JS -->
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<!-- jQuery Custom Scroller CDN -->
	<script src="{% static 'assets/js/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
</head>

<body>
	<div class="wrapper">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">
				<h4>Large Scale Overwatch and Control</h2>
			</a>
			<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					{% if user.is_authenticated %}
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#">About us</a>
					</li>
					{% endif %}
				</ul>

			</div>
			{% if user.is_authenticated %}
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
				 aria-haspopup="true" aria-expanded="false">
					{{ user.get_username }}
				</button>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
					<button class="dropdown-item" type="button">Settings</button>
					<div class="dropdown-divider"></div>
					<button class="dropdown-item" type="button" href="{% url 'logout' %}?next={{request.path}}">Log out</button>
				</div>
			</div>
			{% else %}
			<span class="navbar-text">
				<a class="nav-link" href="{% url 'login' %}" style="outline:0;">Log in</a>
			</span>
			{% endif %}-->
		</nav>
		<div id="content" class="container" style="padding: 100px">
			{% block content %}
			{% endblock %}
		</div>

		<nav class="fixed-bottom bg-dark text-center" style="padding: 7px;">
			<span class="text-muted">&copy Neutron Systems 2019</span>
		</nav>
	</div>
</body>

</html>
